@use './style.scss';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.homeContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    min-height: 100vh;
    background-color: style.$base-color;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

.headerImage{
    width: 100%;
    object-fit: cover;
}
.coatHangerConatiner{
    position: relative;
    width: 1400px;
}
.coatHangerImg{
    width: 100%;
}
.coatFlexContainer{
    position: absolute;
    z-index: 200;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 200px);
    height: 200px;
    left: 100px;
    top: 35%;
    gap: 20px;
}

.coat{
    width: 80px;
    height: 100%;
}
.coat:nth-child(1){
    margin-left: -15px;
}.coat:nth-child(2){
    margin-left: -10px;
}.coat:nth-child(3){
    margin-left: 10px;
}.coat:nth-child(4){
    margin-left: -5px;
}.coat:nth-child(5){
    margin-left: -5px;
}.coat:nth-child(6){
    margin-left: 12px;
}.coat:nth-child(7){
    margin-left: -5px;
}.coat:nth-child(7){
    margin-left: -5px;
}.coat:nth-child(8){
    margin-left: -2px;
}.coat:nth-child(9){
    margin-left: 4px;
}.coat:nth-child(10){
    margin-left: -10px;
}.coat:nth-child(11){
    margin-left: -2px;
}.coat:nth-child(12){
    margin-left: 12px;
}

.DroppableContentHanger{
    width: 99px;
    height: 200px;
    margin-left: 5px;
}

    
.coatImg{
    width: 100%;
    z-index: 100;
}


.shelfContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.shelf{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.DroppPlace{
    width: 261px;
    margin-left: 40px;
    height: 160px;
    margin-bottom: -7px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}
.dropPlace{
    display: flex;
    flex-direction: column-reverse;
    height: 90px;
    flex-wrap: wrap;

}
.greenDropable {
    width: 300px;
    margin-left: 10px;
    height: 90px;
    display: flex;
    flex-wrap:wrap-reverse;
    flex-flow: column-reverse;
}

.ShelfImg{
    width: 350px;
}
.counter{
    font-size: 10em;
    padding: 2px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-top: -50px;
}
.foundationName{
    font-size: 2em;
    color: #125788;
    text-align: center;
    font-weight: 700;
}

.buttons{
    position: relative;
    width: 275px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}
    
.infoBtn{
    position: absolute;
    left: -5px;
    top: -5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.5s;
}
.infoBtn:hover{
    transform: scale(1.1);
}


.link{
    background-color: #0A304B;
    font-size: 1.2em;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.5s;
}
.link:hover{
    border: 1px solid #0A304B;
    
}
.resetBtn{
    background: #E73834;
    border-radius: 20px;
    border: 1px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    width: 300px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 30px;
    margin-top: 80px;
    row-gap: 50px;
}
.resetBtn:hover{
    border: 1px solid #E73834;
}

.SubmitBtn{
    position: absolute;
    top: 220px;
    padding: 10px 30px;
    left: 50%;
    font-size: 3em;
    color: #FFFFFF;
    border-radius: 40px;
    border: 2px solid #FFFFFF;
    background-color: #0A304B;
    box-shadow: 0 10px 4px -4px #0A304B;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1000;
    transition: 0.5s;
    display: none;
}
.SubmitBtnActive{
    display: flex;
}
.SubmitBtn:hover{
    border: 2px solid #0A304B;
}
.LinkBtn{
    position: absolute;
    right: -5px;
    top: -5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
}
.LinkBtn:hover{
    transform: scale(1.1);
}


.popSent{
    position:fixed;
    text-align: center;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1000;
    background-color: #3f3f43;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    display: none;
    font-size: 3em;
    color: #FFFFFF;
}
.popSentActive{
    display: flex;
}
.xbutton{
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
}





.draggable {
    touch-action: none;
    width: 130px; 
    display: flex;
    margin-bottom: -2px;
    margin-top: -4px;
    opacity: 1; 
    cursor: pointer; 
    transition: opacity 0.2s;
}

.draggable.dragging {
    z-index: 1000;
    cursor: grab; 
}


@media only screen and (max-width: 1500px) {
    .coatHangerConatiner{
        width: 900px;
    }
    .coatFlexContainer{
        position: absolute;
        z-index: 200;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 140px;
        left: 0px;
        top: 35%;
        gap: 20px;
    }
    .dropPlace{
        height: 65px;
        // width: 120px;

    }

    .coat{
    width: 50px;
    // background-color:  gray;
}
.coat:nth-child(1){
    margin-left: 70px;
}.coat:nth-child(2){
    margin-left: -10px;
}.coat:nth-child(3){
    margin-left: 0px;
}.coat:nth-child(4){
    margin-left: -5px;
}.coat:nth-child(5){
    margin-left: -10px;
}.coat:nth-child(6){
    margin-left: 1px;
}.coat:nth-child(7){
    margin-left: -5px;
}.coat:nth-child(7){
    margin-left: -7px;
}.coat:nth-child(8){
    margin-left: -8px;
}.coat:nth-child(9){
    margin-left: -5px;
}.coat:nth-child(10){
    margin-left: -10px;
}.coat:nth-child(11){
    margin-left: -6px;
}.coat:nth-child(12){
    margin-left: 0px;
}
.coatImg{
    width: 80%;
    z-index: 100;
    margin-left: -30px;
}
.greenDropable{
    .coatImg{
        margin-left: 0px;

    }
}

    .shelf{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 1000px;
        gap: 50px;
    }
    .shelfContainer{
        align-items: center;
        gap: 10px;
    }
    .counter{
        font-size: 6em;
        height: 80px;
    }
    .foundationName{
        font-size: 1.5em;
        width: 200px;
    }
    .buttons{
        width: 100px;
        height: 90px;
    }
    .link{
        display: none;
    }
    .LinkBtn{
        display: inherit;
        width: 60px;
        height: 60px;
        right: -15px;
    }
    .infoBtn{
        height: 60px;
        width: 60px;
        left: -15px;
    }
    .SubmitBtn{
        top: 130px;
        font-size: 2em;
    }
}

@media only screen and (max-width: 1100px) {
    .shelf{
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 800px;
        gap: 0px;
    }
    .LinkBtn{
        display: inherit;
        width: 40px;
        height: 40px;
        right: 5px;
    }
    .infoBtn{
        height: 40px;
        width: 40px;
        left: 5px;
    }
    .buttons{
        height: 50px;
    }
    .foundationName{
        font-size: 1.2em;
        width: 150px;
    }
    .counter{
        font-size: 6em;
        height: 70px;
    }
}


@media only screen and (max-width: 800px) {
    .coatHangerConatiner{
        width: 600px;
    }
    .coatFlexContainer{
        position: absolute;
        height: 100px;
        left: -20px;
        gap: 18px;
        top: 35%;
    }
    .DroppableContentHanger{
        width: 99px;
        height: 100px;
        margin-left: 5px;
    }
    

    .coat{
        width: 30px;
    }
    .coatImg{
        width: 50%;
        z-index: 100;
        margin-left: -19px;

    }
    .SubmitBtn{
        top: 83px;
        font-size: 1.3em;
    }
    .DroppPlace{
        width: 120px;
        margin-left: 30px;
        height: 120px;
    }
    .dropPlace{
        height: 50px;
        width: 120px;

    }

    .DroppPlace{
        .coatImg{
            width: 65px;
            z-index: 100;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 4px;
        }
        .draggable {
            touch-action: none;
            width: 65px; 
            display: flex;
            margin-bottom: -2px;
            margin-top: -4px;
            opacity: 1; 
            cursor: pointer; 
            transition: opacity 0.2s;
        }
        

    }
    .greenDropable {
        width: 150px;
        margin-left: -0px;
        height: 90px;
        margin-bottom: 5px;
        display: flex;
        flex-wrap:wrap-reverse;
        flex-flow: column-reverse;
    }
    
    .ShelfImg{
        width: 180px;
        margin-bottom: 20px;
    }
}



@media only screen and (max-width: 750px) {
    .LinkBtn{
        display: inherit;
        width: 20px;
        height: 20px;
        right: 5px;
    }
    .infoBtn{
        height: 20px;
        width: 20px;
        left: 5px;
    }
    .buttons{
        height: 25px;
        width: 10px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .foundationName{
        font-size: 0.7em;
        width: 90px;
    }
    .counter{
        font-size: 3em;
        height: 70px;
        margin-top: 10px;
    }
    
.popSent{
    width: 150px;
    padding: 50px;
    z-index: 1000;
    font-size: 2em;
}
.popSentActive{
    display: flex;
}
.xbutton{
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
}

}



@media only screen and (max-width: 530px) {
    .coatHangerConatiner{
        width: 340px;
    }
    .coatFlexContainer{
        position: absolute;
        height: 50px;
        left: -43px;
        gap: 10px;
        top: 35%;
    }

    .coat{
        width: 20px;
        height: 50px;
    }
    .coatImg{
        width: 30%;
        margin-left: -16px;
    }
    .SubmitBtn{
        top: 48px;
        font-size: 0.8em;
        padding: 5px 15px;
    }
}